body { 
    font-family: monospace;
}
ul {
    font-family: "Helvetica", Arial, sans-serif;
}
li {
    list-style-type: circle;
}
.list {
    list-style-type: square;
}
#msg {
    font-family: monospace;
}
:root {
    --green: #00ff00;
    --white: #ffff;
    --black: #000;
}
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
* {
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: var(--bg);
}
.btn {
    position: absolute;
    top: 20px;
    left: 250px;

    padding: 12px 20px;
    min-width: 140px;

    border: none;
    border-radius: 6px;

    cursor: pointer;

    color: var(--btnFontColor);
    background: var(--btnBg);

    font-weight: bold;
}
.btn:focus {outline-style: none;}
